.header{
    text-align: center;
    padding: 9%;
 
}
h1{
    font-size: 20px;
}
span.recordingRedIcon
{
    background-color:red;
    width: 30px;
    height: 30px;
    line-height: 25px;
    margin-right: 5px;
    padding: 0;
    border: 0;
    margin-bottom: 0px;
    color: #fff;
    border-radius: 100%;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-family: initial;
    cursor: pointer;
}
span.recordingText{
    font-weight: 600;
    font-size: 30px;
}
.profileImg{
    margin-right: 35%;
}
.bold{
    font-weight: 600;
}
.title{
    text-decoration: underline;
    color:#4392EF ;
    margin-left: 5%;
}