
<div class="row row-border">
    <div class="col-md-12 m-b-20" *ngIf="option == 'user'">
        <ng-container *ngTemplateOutlet="userInfo"></ng-container>
    </div>
    <div class="col-md-12 m-b-20" *ngIf="option == 'question'">
        <ng-container *ngTemplateOutlet="questions"></ng-container>
    </div>
    <div class="col-md-12 m-b-20" *ngIf="option == 'device'">
            <ng-container *ngTemplateOutlet="device"></ng-container>
        </div>
</div>

    <ng-template #userInfo>
            <form #f="ngForm" (ngSubmit)="onUserSubmit(f)" (keydown.enter)="$event.preventDefault()" novalidate>
            <fieldset>
                    <legend><span>User Info</span></legend>
                    <small>(You will be able to choose user when making a video)</small>
                    <div class="row mTop-20">
                        <div class="col-lg-4">
                        <label for="firstName">First Name</label>
                        <input id="firstName" placeholder="First Name" [(ngModel)]="first_name" name="firstName" type="text" class="form-control" required="true" maxlength="32" />
                        </div>
            
                        <div class="col-lg-4">
                        <label for="lastName">Last Name</label>
                        <input number id="lastName" placeholder="Last Name" [(ngModel)]="last_name" name="lastName"  type="text" class="form-control" required="true" maxlength="32" />
                        </div>
            
                        <div class="col-lg-4">
                        <label for="userName">User Name</label>
                        <input id="userName" type="text" placeholder="User Name" [(ngModel)]="user_name" name="userName" class="form-control"  required="true" maxlength="32" />
                        <p *ngIf="userExist" class="error">*User already exist.</p>
                        </div>
                    </div>
             
                    <div class="row mTop-20 savebutton">
                            <div class="col-md-10">
                           <span *ngIf="inValid" class="error">*Please fill the user info.</span>
                            </div>
                           <div class="col-md-2">
                        <button type="submit" class="btn btn-success">
                                        NEXT
                                </button>
                           </div>
                        
                    </div>
                    </fieldset>
                    </form>
    </ng-template>

    <ng-template #questions>
            
            <form #f2="ngForm">
                <fieldset>
                        <legend><span>Questions</span></legend>
                        <small>( Add QUESTION HEADERS and associated subcategory QUESTIONS)</small>
                </fieldset>
                <div class="row">
                        <div class="col-md-9"></div>
                        <div class="col-md-3">User: <b>[{{user_name}}]</b></div>
                </div>
                    <div class="row mTop-20">
                        <div class="col-md-12">
                                <span>Question Header</span>
                            <input type="text" name="question_header" class="form-control" [(ngModel)]="question_header" placeholder="Question Header"  >
                        </div>
                        </div>     
                        </form>
             <form [formGroup]="myForm" #f3="ngForm" (ngSubmit)="saveQestions(f3)" (keydown.enter)="$event.preventDefault()" novalidate>       
                <fieldset formArrayName="items">
                    <div class="form-group row kitList" *ngFor="let item of myForm.get('items').controls; let i=index" [formGroup]="item">
                        <div class="col-md-12">
                            <div class="row mTop-20">
                                <div class="col-md-11">
                                        <span>Question</span>
                                <textarea  class="form-control" required placeholder="Question" formControlName="question">
                                </textarea>
                                </div>
                                <div class="col-xs-1 padding-6 ">
                                <button type="button" class="removeBtn" (click)="myForm.get('items').removeAt(i)">
                                        <img src="../../assets/images/Circle X.png">
                                </button>
                        </div>
                            </div>
                        </div>
                        </div>
                    </fieldset>
                    <div class="row mTop-20">
                            <div class="col-md-6 addButton">
                            <span class="addQuestion" (click)="myForm.get('items').push(buildItem('')); addQuestion()">+</span>
                            <a (click)="myForm.get('items').push(buildItem(''))">Add Questions<small></small></a>
                            <br>     
                            </div>
                            <div class="col-md-2 addQuestionButton" *ngIf="showAddQuestion">
                                        <button type="button" (click)="newQuestion()"  class="btn btn-success">
                                                NEW
                                        </button>
                                </div>
                            <div class="col-md-2 addQuestionButton" *ngIf="showAddQuestion">
                                    <button type="submit"  class="btn btn-success">
                                            ADD
                                    </button>
                            </div>
                            <div class="col-md-2 addQuestionButton" *ngIf="showAddQuestion">
                                    <button type="button" (click)="done()"  class="btn btn-success">
                                        DONE
                                    </button>
                            </div>
                    </div>
                    <div class="row mTop-20 msg">
                            <span *ngIf="errorMsg" class="error">*{{errorMsg}}</span>
                            <span *ngIf="sucessMsg">{{sucessMsg}}</span>
                    </div>
                
            </form>

    </ng-template>

    <ng-template #device>
            <form [formGroup]="myForm" >
                <fieldset>
                        <legend><span>Device Configuration</span></legend>
                        <small>(select the appropriate video and audio input devices, and the local file location where the videos will be 
                                stored)</small>
                </fieldset> 
            </form>
    </ng-template>
